aside.trocers {
  background: linear-gradient(180deg,
      rgba(244, 124, 32, 1) 1%,
      rgb(239, 80, 157) 50%,
      rgba(0, 174, 229, 1) 100%);
}

aside.askbrett {
  background: linear-gradient(180deg, rgb(28, 100, 242) 1%, rgba(130, 180, 216, 1) 100%);
}

aside.bosebot {
  background: linear-gradient(186deg, rgba(26, 26, 26, 1) 1%, hsl(0, 0%, 45%) 50%, rgba(204, 204, 204, 1) 100%);

}

aside.oddie {
  background: linear-gradient(100deg, rgb(113, 75, 103) 1%, rgba(239, 80, 157, 1) 100%);
}

aside {
  background-color: #1c64f2;
}


/* #selectbot {
    background: rgb(26, 211, 187);
    background: linear-gradient(
      90deg,
      rgba(26, 211, 187, 1) 1%,
      rgba(90, 185, 99, 1) 100%
    );
    color: white;
    font-weight: bold;
  } */



.namebot.trocers {
  color: #ef509d;
}

.namebot.askbrett {
  color: #1c64f2;
}

.namebot.bosebot {
  color: #737373;
}

.namebot.oddie {
  color: #714b67;
}



/* .promptlibrary.trocers {
  background: linear-gradient(180deg,
      rgba(244, 124, 32, 1) 1%,
      rgb(239, 80, 157) 50%,
      rgba(0, 174, 229, 1) 100%);
}

.promptlibrary.askbrett {
  background: linear-gradient(180deg, rgb(28, 100, 242) 1%, rgba(130, 180, 216, 1) 100%);
  color: white;
}

.promptlibrary.bosebot {
  background: #737373;
  color: white;

}

.promptlibrary.oddie {
  background: linear-gradient(0deg, rgb(113, 75, 103) 1%, rgba(239, 80, 157, 1) 100%);
  color: white;
}

.promptlibrary.askpage {
  background-color: #296df7;
  color: white
} */




.btn.trocers {
  background: linear-gradient(180deg,
      rgba(244, 124, 32, 1) 1%,
      rgb(239, 80, 157) 50%,
      rgba(0, 174, 229, 1) 100%);
}

.btn.askbrett {
  background: #1c64f2;
  color: white;
}

.btn.askbrett:hover {
  background-color: #1d50b4;
}


.btn.bosebot {
  background: #737373;
  color: white;

}

.btn.bosebot:hover {
  background: #505050;

}

.btn.oddie {
  background: rgba(239, 80, 157, 1);
  color: white;
}


.btn.oddie:hover {
  background: #993565;
}

.btn.askpage {
  background-color: #296df7;
  color: white
}

.btn.askpage:hover {
  background-color: #2559c0;

}


.btn-cancel.trocers {
  background: linear-gradient(180deg,
      rgba(244, 124, 32, 1) 1%,
      rgb(239, 80, 157) 50%,
      rgba(0, 174, 229, 1) 100%);
}

.btn-cancel.askbrett {
  border: 2px solid #1c64f2;
  color: #1c64f2;
}



.btn-cancel.bosebot {
  border: 2px solid #737373;
  color: #737373;
}



.btn-cancel.oddie {
  border: 2px solid #ef509d;
  color: #ef509d;
}

.btn-cancel.askpage {
  border: 2px solid #296df7;
  color: #296df7;
}



body {
  background-color: #f7fafe;

}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
  /* cambia la duración según desees */
}

.svg.actions {
  fill: rgb(85, 85, 85);
}

.svg.actions:hover {
  fill: rgb(47, 47, 47);
}

.active {
  fill: #025399 !important;
}

.sourceLink {
  /* text-decoration: underline; */
  color: #17568d;
}

.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #4451c2;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
}

/* 
input:checked + .slider {
  background-color: #2196F3;
} */

input:checked+.slider:before {
  transform: translateX(14px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}