aside.trocers {
  background: linear-gradient(180deg,
      rgba(244, 124, 32, 1) 1%,
      rgb(239, 80, 157) 50%,
      rgba(0, 174, 229, 1) 100%);
}

aside.askbrett {
  background: linear-gradient(180deg, rgb(28, 100, 242) 1%, rgba(130, 180, 216, 1) 100%);
}

aside.bosebot {
  background: linear-gradient(186deg, rgba(26, 26, 26, 1) 1%, hsl(0, 0%, 45%) 50%, rgba(204, 204, 204, 1) 100%);

}

aside.oddie {
  background: linear-gradient(100deg, rgb(113, 75, 103) 1%, rgba(239, 80, 157, 1) 100%);
}

aside {
  background-color: #1c64f2;
}


/* #selectbot {
    background: rgb(26, 211, 187);
    background: linear-gradient(
      90deg,
      rgba(26, 211, 187, 1) 1%,
      rgba(90, 185, 99, 1) 100%
    );
    color: white;
    font-weight: bold;
  } */



.namebot.trocers {
  color: #ef509d;
}

.namebot.askbrett {
  color: #1c64f2;
}

.namebot.bosebot {
  color: #737373;
}

.namebot.oddie {
  color: #714b67;
}



/* .promptlibrary.trocers {
  background: linear-gradient(180deg,
      rgba(244, 124, 32, 1) 1%,
      rgb(239, 80, 157) 50%,
      rgba(0, 174, 229, 1) 100%);
}

.promptlibrary.askbrett {
  background: linear-gradient(180deg, rgb(28, 100, 242) 1%, rgba(130, 180, 216, 1) 100%);
  color: white;
}

.promptlibrary.bosebot {
  background: #737373;
  color: white;

}

.promptlibrary.oddie {
  background: linear-gradient(0deg, rgb(113, 75, 103) 1%, rgba(239, 80, 157, 1) 100%);
  color: white;
}

.promptlibrary.askpage {
  background-color: #296df7;
  color: white
} */




.btn.trocers {
  background: linear-gradient(180deg,
      rgba(244, 124, 32, 1) 1%,
      rgb(239, 80, 157) 50%,
      rgba(0, 174, 229, 1) 100%);
}

.btn.askbrett {
  background: #1c64f2;
  color: white;
}

.btn.askbrett:hover {
  background-color: #1d50b4;
}


.btn.bosebot {
  background: #737373;
  color: white;

}

.btn.bosebot:hover {
  background: #505050;

}

.btn.oddie {
  background: rgba(239, 80, 157, 1);
  color: white;
}


.btn.oddie:hover {
  background: #993565;
}

.btn.askpage {
  background-color: #296df7;
  color: white
}

.btn.askpage:hover {
  background-color: #2559c0;

}


.btn-cancel.trocers {
  background: linear-gradient(180deg,
      rgba(244, 124, 32, 1) 1%,
      rgb(239, 80, 157) 50%,
      rgba(0, 174, 229, 1) 100%);
}

.btn-cancel.askbrett {
  border: 2px solid #1c64f2;
  color: #1c64f2;
}



.btn-cancel.bosebot {
  border: 2px solid #737373;
  color: #737373;
}



.btn-cancel.oddie {
  border: 2px solid #ef509d;
  color: #ef509d;
}

.btn-cancel.askpage {
  border: 2px solid #296df7;
  color: #296df7;
}



body {
  background-color: #f7fafe;

}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
  /* cambia la duración según desees */
}

.svg.actions {
  fill: rgb(85, 85, 85);
}

.svg.actions:hover {
  fill: rgb(47, 47, 47);
}

.active {
  fill: #025399 !important;
}

.sourceLink {
  /* text-decoration: underline; */
  color: #17568d;
}

.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #4451c2;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
}

/* 
input:checked + .slider {
  background-color: #2196F3;
} */

input:checked+.slider:before {
  transform: translateX(14px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.response h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0 !important;
}

.response ul {
  list-style: disc;
  margin: 10px 0;
  padding: 0 0 0 20px;
}

.img-logo {
  max-width: 120px;
}



.form__container {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  row-gap: 0.5rem;
}

.form__content {
  -moz-column-gap: 0.5rem;
  column-gap: 0.5rem;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.form__group .name {
  grid-column: span 12;
}

.form__group {
  margin-top: 1rem;
}

.form__label {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
}



.input__main {
  --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  background-color: transparent;
  border-radius: calc(var(--radius) - 2px);
  border-width: 1px;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
    var(--tw-shadow);
  display: flex;
  font-size: 0.875rem;
  height: 2.25rem;
  line-height: 1.25rem;
  padding: 0.25rem 0.75rem;
  transition-duration: 0.15s;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
}

.textarea__main {
  --light: #e4e4e7;
  --dark: #27272a;
  --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  background-color: transparent;
  border-color: var(--light);
  border-radius: calc(var(--radius) - 2px);
  border-width: 1px;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
    var(--tw-shadow);
  display: flex;
  font-size: 0.875rem;
  line-height: 1.25rem;
  min-height: 60px;
  padding: 0.5rem 0.75rem;
  width: 100%;
}

.select__header {
  --border-color: #e4e4e7;
  --border-color-dark: #27272a;
  --color: #09090b;
  --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  align-items: center;
  background-color: transparent;
  border-color: var(--border-color);
  border-radius: calc(var(--radius) - 2px);
  border-width: 1px;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
    var(--tw-shadow);
  color: var(--color);
  cursor: pointer;
  display: flex;
  font-size: 0.875rem;
  height: 2.25rem;
  justify-content: space-between;
  line-height: 1.25rem;
  padding: 0.5rem 0.75rem;
  width: 100%;
}

.loader {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid #fff;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}



.summary h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0 !important;
}

.summary ul {
  list-style: disc;
  margin: 10px 0;
  padding: 0 0 0 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}